<ion-view view-title="{{ 'ACCOUNT_VIEW_TITLE' | translate }}">
    <ion-content>
      	<div class="list card" ng-if="authData.provider == 'google'">
		  <div class="item item-avatar">
		    <img src="{{authData.google.cachedUserProfile.picture}}">
		    <h2>{{authData.google.cachedUserProfile.name}}</h2>
		    <p>{{authData.google.cachedUserProfile.link}}</p>
		  </div>

		  <div class="item item-body">
		    <p>
		      {{privateData.$value}}
		    </p>
		    <p>
		      {{ 'ACCOUNT_FOLLOWERS_LABEL' | translate }} : {{authData.google.cachedUserProfile.followers_count}}
		      <br/>
		      {{ 'ACCOUNT_FRIENDS_LABEL' | translate }} : {{authData.google.cachedUserProfile.friends_count}}
		    </p>
		  </div>

		  <div class="row">
			  <div class="col">
				  <button class="button button-block button-assertive icon-right ion-log-out"  ng-click="unAuth()">
				  {{ 'ACCOUNT_DISCONNECT_BUTTON' | translate }}
			      </button>
		      </div>
	      </div>
	    </div>

	    <div class="list card" ng-if="authData.provider == 'password'">
		  <div class="item item-avatar">
		    <img src="{{authData.google.cachedUserProfile.picture}}">
		    <h2>{{authData.password.email}}</h2>
		  </div>

		  <div class="item item-body">
		    <p>
		      {{privateData.$value}}
		    </p>
		  </div>

		  <div class="row">
			  <div class="col">
				  <button class="button button-block button-assertive icon-right ion-log-out"  ng-click="unAuth()">
				  {{ 'ACCOUNT_DISCONNECT_BUTTON' | translate }}
			      </button>
		      </div>
	      </div>
	    </div>

	    <div class="list card" ng-if="authData.provider == 'twitter'">

		  <div class="item item-avatar">
		    <img src="{{authData.twitter.cachedUserProfile.profile_image_url}}">
		    <h2>{{authData.twitter.cachedUserProfile.name}}</h2>
		    <p>{{authData.twitter.cachedUserProfile.entities.url.urls[0].expanded_url	}}</p>
		  </div>

		  <div class="item item-body">
		    <p>
		      {{privateData.$value}}
		    </p>
		    <p>
		      {{ 'ACCOUNT_FOLLOWERS_LABEL' | translate }}  : {{authData.twitter.cachedUserProfile.followers_count}}
		      <br/>
		      {{ 'ACCOUNT_FOLLOWINGS_LABEL' | translate }}  : {{authData.twitter.cachedUserProfile.friends_count}}
		    </p>
		  </div>

		  <div class="row">
			  <div class="col">
				  <button class="button button-block button-assertive icon-right ion-log-out"  ng-click="unAuth()">
				  {{ 'ACCOUNT_DISCONNECT_BUTTON' | translate }}
			      </button>
		      </div>
	      </div>
	    </div>

      	<div class="list card" ng-if="authData.provider == 'facebook'">

		  <div class="item item-avatar">
		    <img src="{{authData.facebook.cachedUserProfile.picture.data.url}}">
		    <h2>{{authData.facebook.cachedUserProfile.name}}</h2>
		    <p>{{authData.facebook.cachedUserProfile.email}}</p>
		  </div>

		  <div class="item item-body">
		    <p>
		      {{privateData.$value}}
		    </p>
		    <p ng-if="friendsData">
		      {{ 'ACCOUNT_FRIENDS_DATA' | translate }} : {{friendsData}}
		    </p>
		  </div>
		  <div class="row">
		  <div class="col">
		  
			<button class="button button-light button-block icon-left ion-android-contacts" ng-click="inviteFbFriend()">
			{{ 'ACCOUNT_INVITE_FRIENDS_BUTTON' | translate }}
			</button>
		   
		  </div>
		  </div>
		  <div class="row">
		  <div class="col">
		  <button class="button button-light button-block icon-left ion-share"  ng-click="postFbStatus()">
		  {{ 'ACCOUNT_POST_STATUS_BUTTON' | translate }}
	      </button>
	      </div>
	      </div>

		  <div class="row">
		  <div class="col">
		  <button class="button button-block button-assertive icon-left ion-log-out"  ng-click="unAuth()">
		  {{ 'ACCOUNT_DISCONNECT_BUTTON' | translate }}
	      </button>
	      </div>
	      </div>
	      

		</div>

		<div class="row" ng-if="!authData">
		  <div class="col">
		  <button class="button button-block button-assertive icon-left ion-log-out"  ng-click="unAuth()">
		  {{ 'ACCOUNT_DISCONNECT_BUTTON' | translate }}
	      </button>
	      </div>
	      </div>
	    
	</ion-content>
</ion-view>
