/* Empty. Add your own CSS if you like */
.button {
	color: #586c82;
	border: solid #586c82 1px;
	box-shadow: 0px 2px 0px #586c82;
}

.button:hover {
	color: #340f82;
	
}

.button:active {
	color: #340f82;
}

.body {
	color: #586c82!important;
}

p, h1, h2, h3, h4, h5, h6 {
	color: #586c82!important;
}

.header_color {
    background-color: #000;
}
